
.container {
    // background: rgb(212,207,219);
    // background: linear-gradient(90deg, rgba(212,207,219,1) 0%, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 42%, rgba(139,139,139,1) 58%, rgba(255,255,255,1) 100%);
    background: url('../../public/groupomaniaAccount.png') fixed; 
    min-height: 100vh;
    background-size: cover;  
    background-position: center;
    .formForum{
        height: max-content;
        margin-bottom: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .labelFile{
            border: 1px solid #6b85a9;  
            border-radius: 10px;
            color: white;
            background-color: #091F43; 
            box-shadow: 2px 2px 3px #D1515A;
            text-align: center;
            width: 140px; 
            
            span{
                font-size: 15px;  
            }  
        }
        input[type=file]{  
            display: none; 
        }
        input, textarea{
            margin: 3px 0px; 
            border: 1px solid #6b85a9;  
            border-radius: 10px; 
        } 
        button{
            align-self: flex-end; 
            color: white;
            background-color: #091F43; 
            box-shadow: 2px 2px 3px #D1515A;
            font-size: 20px;
            width: 15%;
        }
    }
    .postContainer {
        display: flex;
        margin: 3px 0;
        flex-direction: column;
        // width: 100%;
        color: white;
        background: #091F43;  
        border-radius: 20px;
        animation: commentApparition 0.3s ease-in-out;
        .userNameProfil{
            font-size: 20px; 
        }
        .imgProfilCard {
            width: 30px;
            height: 30px;
            object-fit: cover; 
            border-radius: 50%; 
        }
        .imgPost{
            align-items: center;
            width: 100%;
            img{
                 width: 100%;
                 max-height: 450px;
                 object-fit: contain;
            }
        }
        .userId{
            display: flex;
            justify-content: space-between;
            background-color: #D1515A; 
            border-top-left-radius: 18px;
            border-top-right-radius: 18px; 
            color: white;
            padding: 5px;   
            .upDatePost{
                color: white; 
                padding: 5px;
            }
        }
        .textPost{
            padding: 10px; 
        }
        .comment{
            width: 30px;
            padding: 10px;
        }
        .likeUnLike{
            text-align: center;   
            width: 40px;
            padding: 10px; 
        }
        .formComment{
            display: flex;
            animation: commentBtn 0.3s ease-in-out; 
            textarea{
                flex-grow: 1; 
                border-radius: 10px; 
            }
            button{
                color: white;
                border: none; 
                font-size: 22px;
                background-color: transparent;
                width: 15%;
            }
        }
        .apercuCom{
            width: 100%;
            .flexCom{
                border-top: 3px solid #D1515A; 
                padding: 5px;
                margin: 5px 0px; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .commentDate{
                    align-self: flex-end;
                    font-size: 12px;
                    color: gray;
                }
                .titleComment{
                    img{
                        width: 20px;
                        height: 20px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .commentCard{
                    height: max-content;
                    display: flex;
                    justify-content: space-between;
                }
                .userCom{
                    margin: 5px;
                }
                .userText{
                    margin: 5px;
                }
                .updateDelete{
                    display: flex; 
                    flex-wrap: nowrap; 
                    span{
                        padding: 0 5px;  
                    }
                }
            }
        }
        .footerCard{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            border-top: 1px solid #D1515A;
            .postDate{
                font-size: 14px;
                color: gray;
            }
        }
    }
    .deletePost{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        button{
            color: white; 
            background-color: transparent; 
            border: none;
            margin-bottom: 10px; 
            font-size: 20px; 
        }
    }
}
@media screen and (min-width: 768px){
    .header{
        nav{ 
            gap: 30%; 
        }
    }
    .container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        .formForum{
            width: 500px; 
        }
        .postContainer{
            width: 500px;
            #myForm{
                #text{
                    width: 400px;  
                    height: 200px;
                }
            }
        }
    }
}

@keyframes commentApparition {
    0% {
        transform: scale(0);
    }
    100%{ 
        transform: scale(1);
    }
}
@keyframes commentBtn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    70%{
        opacity: 0.3;
    }
    100%{ 
        opacity: 1; 
        transform: translateY(0);
    }
}